<nav class="pagination">
  <% if @page > 1 %>
    <%= link_to '<-Newer-', feed_path(@feed, page: @page-1) %>
  <% end %>

  Page <%= @page %> of <%= @articles.length/@page_size %>

  <% if @page < @articles.length/@page_size %>
    <%= link_to '-Older->', feed_path(@feed, page: @page+1) %>
  <% end %>
</nav>