<% content_for :page_title do %>My Feed List<% end %>

<ul class="feed-list">
<% @feeds.each do |feed| %>
	<li>
		<%= link_to feed.name, feed_path(feed, username: @user.username) %>
    <span class="feed-controls">
    [
	  <%= link_to 'Edit', edit_feed_path(feed, username: @user.username), method: :get %>
    |
	  <%= link_to 'Delete', feed_path(feed, username: @user.username), method: :delete, data: { confirm: 'Are you sure?' } %>
    ]
    </span>
	</li>
<% end %>
</ul>