<% content_for :page_title do %>My Feed List<% end %>

<ul class="feed-list">
<% @feeds.each do |feed| %>
	<li>
		<%= link_to feed.name, feed_path(feed, username: @user.username) %>
	  <%= link_to '', edit_feed_path(feed, username: @user.username), class: 'edit-link', method: :get %>
	  <%= link_to '', feed_path(feed, username: @user.username), class: 'del-link', method: :delete, data: { confirm: 'Are you sure?' } %>
	</li>
<% end %>
</ul>