<h1>My Feed List</h1>

<ul>
<% @feeds.each do |feed| %>
	<li>
		<%= link_to feed.name, user_feed_path(@user, feed) %>
	  <%= button_to 'Edit', edit_user_feed_path(current_user, feed), method: :get %>
	  <%= button_to 'Delete', user_feed_path(current_user, feed), method: :delete, data: { confirm: 'Are you sure?' } %>
	</li>
<% end %>
</ul>