<% content_for :page_title do %>Welcome to Feeder<% end %>

<p>Feeder is a simple RSS aggregator. This means you can add RSS feeds from all over the internet and view them in one place! Have fun and enjoy!</p>