// Place all the styles related to the feeds controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
	font-family: sans-serif;
}
h1 {	
	text-align: right;
	border-bottom: 1px solid #000;
}
main {
	display: block;
	width: 66%;
	margin: 0 auto;
}
form {
	width: 66%;
	margin: 0 auto;
	display: inline;
}
label {
	display: block;
	font-style: italic;
	margin-top: 1em;
}
input[type=text], input[type=password] {
	display: block;
	width: 100%;
	margin: 0.5em 0;
	padding: 0.5em;
	border-radius: 0.5em;
	border: 1px solid #000;
}
input[type=submit] {
	border: 1px solid #000;
	border-radius: 0.5em;
	padding: 0.5em 1em;
	margin-top: 1em;
}
article {
	padding-bottom: 2em;
}
h2 {
	border-bottom: 1px solid #000;
	margin: 0;
	padding-bottom: 0.25em;
}
h2 a {
	text-decoration: none;
}
p.details {
	font-size: 0.8em;
	font-style: italic;
	margin: 0.25em 0 0 0;
	text-align: right;
}
p {
	margin: 1em 0;
}