@import url(http://fonts.googleapis.com/css?family=Kotta+One|Marvel|Raleway);

$background-color: rgba(241,241,241,1);
$primary-color: rgba(52,73,94,1);
$highlight-color: rgba(43,198,184,1);
$highlight-color-faded: rgba(43,198,184,0.1);
$logo-color: rgba(231,76,60,1);
$logo-color-faded: rgba(231,76,60,0.1);
$loading-screen-color: rgba(0,0,0,0.8);

body {
  background-color: $background-color;
  font-family: Raleway;
  color: $primary-color;
  min-height: 100%;
  margin: 0;
  padding: 0;
}

h1 {
  background-color: $highlight-color;
  font-family: Marvel;
  text-align: right;
  margin: 0 auto 0.5em auto;
  padding: 0.6em 1em;
  border-bottom-left-radius: 0.6em;
  border-bottom-right-radius: 0.6em;
  width: 70%;
}

h2 {
  border-bottom: 1px solid $primary-color;
  font-family: "Kotta One";
  margin: 0 0 0.25em 0;

  a {
    color: inherit;
    text-decoration: none;
  }
}

header {
  background: $primary-color;
  height: 80px;
  position: relative;

  #logo {
    display: inline-block;
    width: 208px;
    height: 100%;
    background-image: image-url('logo.png');
    background-repeat: no-repeat;
    background-position: center;
    margin-left: 20px;
  }
  nav {
    position: absolute;
    right: 0px;
    bottom: 0px;
    margin-right: 1em;

    a {
      color: $background-color;
      font-size: 1.2em;
      text-decoration: none;
      display: inline-block;
      padding: 0.6em 1em;
    }

    form {
      display: inline-block;
      margin-bottom: 0.3em;

      label {
        color: $background-color;
      }

      input {
        padding: 0.3em;
      }

      input[type=text], input[type=password] {
        width: 8em;
      }
    }
  }
}

footer {
  margin-top: 1em;
  padding: 1em 0;
  border-top: 1px dotted $primary-color;
  text-align: center;
  font-size: 0.8em;

  a {
    color: inherit;
    text-decoration: none;
    font-weight: bold;
  }
}

p {
  .details {
    color: $highlight-color;
    text-align: right;
    font-size: 0.8em;
    font-style: italic;
    margin: 0; 
  }

  a {
    color: inherit;
    text-decoration: none;
    font-weight: bold;
  }
}

a:hover {
  color: $logo-color;
}

article {
  margin-bottom: 5em;
}

main {
  display: block;
  width: 66%;
  min-width: 300px;
  margin: 0 auto;

  form {
    input {
      display: block;
      width: 66%;
      padding: 0.3em 0.6em;
      margin: 0.6em auto 2em;
    }
  }
}

form {
  label {
    color: $primary-color;
    display: block;
    width: 66%;
    min-width: 300px;
    margin: 0 auto;
    font-size: 1.2em;
  }

  input {
    color: $primary-color;
    font-family: Raleway;
    font-size: 1.2em;
    border: 1px solid $primary-color;
    border-radius: 0.6em;
  }

  input:focus {
    border-color: $highlight-color;
  }

  input[type=submit] {
    background-color: $highlight-color;
  }
}

.form-footer {
  margin-top: 3em;
}

.flash {
  font-size: 1.2em;
  display: block;
  border-radius: 0.6em;
  border-style: solid;
  border-width: 1px;
  text-align: center;
  padding: 0.6em;
  margin: 1em;
}

.notice {
  color: $highlight-color;
  border-color: $highlight-color;
  background-color: $highlight-color-faded;
}

.warning {
  color: $logo-color;
  border-color: $logo-color;
  background-color: $logo-color-faded;
}

.mobile-nav {
  display: none;
}

.page-details {
  margin: -1em 0 1em 0;
  text-align: right;
  padding-right: 1em;
}

.feed-list {
  font-size: 1.2em;
  color: $primary-color;
  list-style: none;

  li {
    margin-bottom: 0.5em;
  }

  a {
    color: inherit;
    text-decoration: none;
  }

  a:hover {
    color: $logo-color;
  }
}

.pagination {
  text-align: center;
  margin: 1em auto;
  padding: 0.5em 0;
  font-size: 1.2em;
  border-top: 1px dotted $primary-color;
  border-bottom: 1px dotted $primary-color;

  a {
    color: inherit;
    text-decoration: none;
    font-weight: bold;
  }

  a:hover {
    color: $logo-color;
  }
}

.refresh-link {
  display: block;
  text-align: right;
  color: $highlight-color;
  text-decoration: none;
}

.refresh-img {
  vertical-align: middle;
}

.edit-link {
  background-image: image-url('edit.png');
}

.del-link {
  background-image: image-url('delete.png');
}

.edit-link, .del-link {
  display: inline-block;
  width: 16px;
  height: 16px;
}

.edit-link:hover, .del-link:hover {
  background-position: 0 16px;
}

.close-link {
  color: inherit;
  text-decoration: none;
  float: right;
}

.close-link:hover {
  font-weight: bold;
}

table {
  border-collapse: collapse;
  width: 100%;

  tr {
    cursor: pointer;
  }

  tr:hover {
    background-color: $highlight-color-faded;
  }

  th {
    text-align: left;
  }

  td {  
    border-top: 1px dotted #34495E;
  }

  td.title {
    width: 100%;
  }

  td,th{
    white-space: nowrap;
    padding: 0.5em 0.3em;
    margin: 0;
  }
}

.hide-article-btn {
  background-image: asset-url('delete.png');
  width: 16px;
  height: 16px;
}

.hide-article-btn:hover {
  background-position: 0 16px;
}

.loading-screen {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: $loading-screen-color;
  background-image: asset_url('loading.gif');
  background-position: center center;
  background-repeat: no-repeat;
  z-index: 1000;
  display: none;
}